<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>window.alert('{{ message }}');</script>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="topnav">
        <a href="{{ url_for('home')}}">Home</a>
        <a class="active" href="#login">Login</a>
        <a href="{{url_for('register')}}">Register</a>
    </div>
    <form class="box" action="" method="post">
        <h1>Login</h1>
        <input type="text" class="form-control" id="username" placeholder="Username"name="username">
        <input type="password" class="form-control" id="password" placeholder="Password"name="password">
        <input id="button"type="submit" class="btn btn-primary" placeholder="submit" value="Login">
    </form>
</body>
</html>